<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="javascripts/jquery-1.7.1.min.js"></script>
    <script src="javascripts/jquery.json-2.3.min.js"></script>
    <script src="javascripts/jquery.form.js"></script>
    <script src="javascripts/jquery.parse.js"></script>
    <script src="javascripts/highcharts.js" type="text/javascript"></script>
    <script>
      var vsq_length = {{vsq_length}};
    </script>
    <!--[if lt IE8]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <h1>Vocalab</h1>
    </header>
		<div id="report" style="font: 0.8em sans-serif"></div>
    <form id="rule-form" action="/download" method="post">
      <div class="cand-inputs">
				{% for id in cand_ids %}
        <input type="checkbox" name="rule" value="{{ id }}" style="display: none"/>
        {% endfor %}
      </div>
      <input type="submit" value="ダウンロード">
    </form>
    <form action="">
      <select name="select_rule">
      {% for r in rules %}
        {% ifequal forloop.counter0 0 %}
        <option selected="selected" value="{{ r.rule_id }}">{{ r.name }}</option>
        {% else %}
        <option value="{{ r.rule_id }}"/>{{ r.name }}</option>
        {% endifequal %}
      {% endfor %}
      </select>
    </form>
    <div id="dynchart" style="height: 300px"></div>
    <div id="float-lyric"></div>
    <div id="pitchart" style="height: 300px"></div>
  </body>
</html>
