body, h1 {
  padding: 0;
  margin: 0;
}

header h1{
  background: #007477;
  padding-left: 10px;
  color: #fff;
}
#main {
  width: 400px;
  padding-left: 20px;
}
.chooseable {
  background: #666;
  cursor: pointer;
}
.choosen {
  background: #41cde2;
  cursor: pointer;
}
#float-lyric {
  position: absolute;
}
.anote {
  z-index: 2;
  position: absolute;
  top: 0px;
}

#rule-form p{
  /*white-space: nowrap;*/
}
