body {
  font-family: Verdana, Helvetica, sans-serif;
}
body, h1 {
  padding: 0;
  margin: 0;
}

header h1{
  font-size: 23px;
  font-weight: normal;
  /*background: #007477;*/
  background: #000;
  padding-left: 10px;
  color: #fff;
  line-height: 50px;
  vertical-align: middle;
}
#main {
  overflow: hidden;
}
.anote {
  z-index: 2;
  position: absolute;
  top: 0px;
}
.lyric {
  display: block;
  background: #3cc;
  border: solid 1px #066;
  opacity: 0.7;
}
.chooseable .lyric {
  background: #666;
  cursor: pointer;
}
.choosen .lyric {
  background: #3cf;
  cursor: pointer;
}
#float-lyric {
  position: absolute;
}
#pitchart {
  margin-top: 50px;
}

#rule-form p{
  /*white-space: nowrap;*/
}
#cand-inputs {
  display: none;
}
.popup {
  font-size: 80%;
  display: none;
  margin: 0;
  padding: 0;
  z-index: 3;
  position: relative;
  left: 2px;
  top: -10px;
  list-style-type: none;
  background: #ccc;
  border: 1px solid #333;
}
.popup li {
  border: 1px solid #666;
}
